<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Wholesome Coolness | Last Updated In 2005 LOL</title>
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
  </head>

  <body bgcolor="white">
    <center>
      <div class="main">
        {% block header %}
        <img src="images/title.png" alt="Whomesome coolness, yo.">
        <br>
        {% endblock %}
        {% block main_nav %}
          <a href="archives.html"><img src="images/archives.png" border=0 alt="Archives |"></a>
          <a href="cast.html"><img src="images/cast.png" border=0 alt="Cast |"></a>
          <a href="links.html"><img src="images/links.png" border=0 alt="Links |"></a>
          <a href="email.html"><img src="images/email.png" border=0 alt="Email"></a>
          <br><br><br>
        {% endblock %}

        {% block content %}
        {% endblock %}
        <br><br>

        Page last updated {{ last_updated }}.  Wholesome Coolness was originally hosted on <a href="http://www.comicgenesis.com">Comic Genesis</a>, a free webhosting and site automation service for web comics. That, my friends, rocks out hard.
        {% endblock %}
      </div>
    </center>
  </body>
</html>
