{% extends "base.html.j2" %}
{% block content %}
<br>
<table width="780"><tr><td>

  <center>
  <b>The Cast (As it Were):</b>
  </center>

  <p>Some regular cast members, in no particular order (ordering 'em would be to hard! :-( )  I wrote this before I decided to end the comic, so it refers to what were once possible future events that, sadly, will never be...:</p>

  <table width="780">
  <tr>
  <td width="200">
  <img src="images/cast_josh.png" alt="<Josh>">
  </td>
  <td width="580">
  <p><b>Joshua Holbrook:</b> This would be...me.  Yes, me--as though there isn't enough self-insertion in the world of webcomics.  I'm pretty easy to write for, though, so I'll show up at least a good part of the time.  I am eighteen right now, and am going to college this fall.  My interests include web comics, cartoons (both American and foreign), technology and science.   Oh, and books. I work hard in school and am somewhat sociable, but don't get out nearly enough.  In my first comic, I showed up as four versions of myself, based on the four Dungeons and Dragons character alignments.  This will probably never happen again.  However, I have also been seen as myself-myself and in the form of other alter-egos.  In this picture, I am wandering through the kitchen in our new-ish house to get something to eat (something I do altogether too often) and aren't quite sure why my picture is being taken.  Yes, our walls really are pink.  No, I am not that sexy in real life.</p>
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="580">
  <p><b>Tyler Miller:</b> Tyler's a friend of mine--probably my best friend, really.  He is 19 I think, and is also going to college this fall.  He's not into the webcomics as much as I am, but knows enough to be the only kid who can follow along when I go down that path.  He's also into technology, and is learning about Linux a little at a time.  Unlike me, however, he likes to ride his bike just for fun and can buy stuff off the internet and/or TV like knives and coffee trees. His biggest appearence so far has been as Supreme Dictator.  He's also (basically) the local DM.  In this picture, his Dad decided to drive him to high school early, and he's still somewhat dead--otherwise he'd be really pissed that he had to get up so early.  Friggin' morning people--what's up with them, anyways?  Geez.  Also, no I'm not trying to do a rip-off of Scott Kurtz' style with Tyler's neck-connector, it really looks kinda like that.</p>
  </td>
  <td width="200">
  <img src="images/cast_tyler.png" alt="<Tyler>">
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="200">
  <img src="images/cast_joel.jpg" alt="<Joel>">
  </td>
  <td width="580">
  <p><b>Joel Ellis:</b> Joel's another friend of mine.  He lives in Trapper Creek normally, but has been living in Fairbanks over the summer.  Joel's about a year younger than me I think--or, at least, he'll be a senior this fall.  He is also the only one of us so far to build his own computer, even though it is me and Tyler that talk about it the most.  Joel's brothers are also noteworthy just because the Ellis's are just about the coolest family ever. :D  Joel has only appeared in two comics so far, but I wouldn't be surprised if he ended up in more.</p>
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="580">
  <p><b>Heidi Hartley:</b> No, she's not really Swiss or anything.  Heidi's one of my friends from high school.  So far I've only really had her in <a href="/d/20050522.html">one comic</a>, with her back turned from the viewer.  However, she's one of four of us that went to UAF (including me), so who knows--she might be in more comics in the future.  I sketched this picture of her last year during either Government or Academic Decathlon because I liked her hair that day.  I adore Heidi's hair.</p>
  </td>
  <td width="200">
  <img src="images/cast_heidi.png" alt="<Heidi>">
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="200">
  <img src="images/cast_ilja.png" alt="<Ilja>">
  </td>
  <td width="580">
  <p><b>Ilja Naumov:</b> Ilja was one of my best friends in middle school.  In 8th grade he moved to Seattle, but we've kept in touch.  In my comic he's only appeared as a crazed cyborg, but... who knows, my comic's young.  He's been in Talkeetna over the summer, but I haven't seen him around because I don't get out and I think the people he's staying with are crazy. This picture of Ilja is probably two years old, and his power fist is WK40K-inspired.  If you don't know what WH40k is, you've been a bad nerd.</p>
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="580">
  <p><b>Captain Morgan (of the Josherprise):</b> This is the captain from my lame Star Trek parody.  How sad.</p>
  </td>
  <td width="200">
  <img src="images/cast_morgan.png" alt="<Captain Morgan>">
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="200">
  <img src="images/cast_carleson.png" alt="<Carleson>">
  </td>
  <td width="580">
  <p><b>Lieutenant Carleson (of the Josherprise):</b> This is the hot (in theory) lady character from my lame Star Trek parody.</p>
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="580">
  <p><b>Doctor Spork (of the Josherprise):</b> Doctor Spork is the vulcan on the crew in my lame Star Trek parody.  Woo.  Also, his name is awesome.  I mean... sporks.  C'mon.</p>
  </td>
  <td width="200">
  <img src="images/cast_spork.png" alt="<Captain Morgan>">
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="200">
  <img src="images/cast_rikkhurt.png" alt="<Rikkhurt>">
  </td>
  <td width="580">
  <p><b>Commander Rikkhurt (of the Josherprise):</b> Jesus... a klingon whose name is based off Riker's?  That's...odd.  Anyhow, the violent klingon from my lame Star Trek parody. Behold.</p>
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="580">
  <p><b>Officer #2970 (Formerly of the Josherprise):</b> I <i>swear</i> this guy was there until he randomly got shot.  He's <i>totally</i>, like, right there, in the background of panel 24. ;)</p>
  </td>
  <td width="200">
  <img src="images/cast_officer.png" alt="<Officer #2970>">
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="200">
  <img src="images/cast_alien.png" alt="<The Kool Trek Alien>">
  </td>
  <td width="580">
  <p><b>The Kool Trek Alien:</b> The source of the awesomeness anomoly?  This rockin' freak.  He's kinda green.  And has hippie clothes.  Kinda.  I mean, hippies don't really have bling, do they?</p>
  </td>
  </tr>
  </table>

  <table width="780">
  <tr>
  <td width="580">
  <p><b>Planarians/Anteaters:</b> The planarians/anteaters, in a sense, are me.  They're from the Planarian/Anteaters storyline (obviously).</p>
  </td>
  <td width="200">
  <img src="images/cast_planarians.png" alt="<planarian/anteaters>">
  </td>
  </tr>
  </table>

</td></tr></table>


{% endblock %}
