{% extends "base.html.j2" %}
{% block content %}
  <br>

  <table width="780"><tr><td>

  <center>
    <b>Do NOT Email Me:</b>
  </center>

  <p>When I originally made this comic, the best way to contact someone was over email. But times change...</p>

  <p>I can now be found on social media:
  <ul>
    <li><a href="https://twitter.com/jfhbrook">Twitter</a> (I refuse to call it X)</li>
    <li><a href="https://www.tiktok.com/@jfhbrook">Tiktok</a> (While it's still around)</li>
    <li><a href=https://oldbytes.space/@jfhbrook">Mastodon</a></li>
    <li><a href="https://dev.to/jfhbrook">Dev</a></li>
  </ul>
  </p>
  <p>Go ahead and DM me if you have a comment, complaint, or whatever. Even today, I still like getting mail.</p>

  </td></tr></table>
{% endblock %}
